*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    font-size: 0;
}
.wrapper{
    position: relative;
    margin: 70px auto;
    width: 700px;
    height: 400px;
    border: 2px solid #000;
    overflow: hidden;
}
.wrapper ul{
    position: relative;
    top: 0;
    left: 0;

    width: 3500px;
    height: 100%;
    overflow: hidden;
}
.wrapper ul li.box{     /* li和.box之间没有空格*/
    display: inline-block;
    width: 700px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s linear;
}
.wrapper ul .box img{
    width: 700px;
    height: 400px;
}
.wrapper ul li.box.first{
    opacity: 1;
}

.wrapper .btnBox{
    position: absolute;
    width: 700px;
    height: 70px;
    /* border: 1px solid #000; */
    left: 0;
    top: 50%;
    margin-top: -35px;
}
.wrapper .btnBox .btn{
    display: block;
    width: 40px;
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    color: #fff;
}
.wrapper .btnBox .btn.left{
    float: left;
}
.wrapper .btnBox .btn.right{
    float: right;
}

.wrapper .list{
    position: absolute;
    bottom: 30px;
    left: 0;
    /* border: 1px solid #000; */
    width: 700px;
    height: 20px;
}
.wrapper .list ul{
    width: 100%;
    height: 100%;
    text-align: center;
}
.wrapper .list ul li.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 2px 10px;
    cursor: pointer;
}
.wrapper .list ul li.circle.active{
    background: #f40;
}